@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Buttons */

.button {
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.search-button {   
    width: 575px;
    height: 60px;
    font-size: 20px;
    line-height: 36px; 
    padding-top: 15px;
    padding-bottom: 15px;  
    border-radius: 10px; 
}

.light-blue-button {
    background-color: #83B3D3;
}

.submit {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.apply {
    width: 160px;
    height: 48px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.reset {
    width: 160px;
    height: 23px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #FFFFFF;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.sorting {
    background-color: #E5E5E5;
}

.in-favorites {
    background-color: #7DB54F;
}


/*header*/

.page-header {   
    color: #000000;
    
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-link {
    display: block;
    padding: 20px 34px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;  
    text-decoration: none;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.navigation-user-link {
    display: block;
    padding: 24px;
    
}

.header-button {
    width: 160px;
    height: 37px;
    line-height: 21px;  
    margin-left: 32px;
    margin-top: 14px;
    padding: 9px 15px;
    
    
}

.navigation-user.navigation-user-link {
    min-width: 18px;
    min-height: 18px;
}

.page-header-logo {
    width: 130px;
    margin-right: 30px;
    
}

/* main-index*/

.advantages-title.color-white {
    margin: 0;
    padding-top: 98px;
    margin-bottom: 30px;
}

.advantages-number {
    display: block;
    margin: 0;
    margin-bottom: 30px;
}

.advantages-description.color-white {
    margin: 0;
    padding-bottom: 97px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.mini-logo {
    padding-top: 89px;
    margin-bottom: 23px;
}

.mini-logo-2 {
    padding-top: 91px;
    margin-bottom: 23px;   
}

.mini-logo-3 {
    padding-top: 85px;
    margin-bottom: 23px;

}

.sub-menu-list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.sub-menu-title {
    margin: 0;
    margin-bottom: 20px;
}

.sub-menu-description {
    margin: 0;
    padding-bottom: 79px;
}


.index-columns {
    display: flex;
    justify-content: space-between;   
}

.advantages-1,
.advantages-2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.advantages-title {
    padding-top: 98px;
    margin-bottom: 30px;

}


.advantages-description {   
    padding-bottom: 108px;
}

.advantages-item,
.sub-menu-item {
    width: 400px;
    
  }

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.welcome {
    display: block;
    margin: 0 auto;
    margin-bottom: 11px;
    padding-top: 52px; 
    
}

.to-the-georgeous {
    display: block;
    margin: 0 auto;
    margin-bottom: 54px;   
}

.sedona-main-logo {
    display: block;
    margin: 0 auto;   
    padding-bottom: 83px;
}

.divider {
    
    justify-content: space-between;
}

.divider-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 63px;
    padding-right: 240px;
    padding-left: 240px;
    margin-bottom: 31px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.divider-paragraph {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-right: 240px;
    padding-left: 240px;
    padding-bottom: 80px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}





.hotel-card-link {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;

}

.main-container {
    flex-grow: 1;
}



.main-welcome{
    background-image: url("../images/main-background.jpg"); 
    color: #333333;
    background-size: 100% auto;  
    background-repeat: no-repeat;
}




ul {
    list-style-type: none;
}

.advantages-item,
.sub-menu-item {
    text-align: center;   
}

.advantages-title,
.sub-menu-title,
.divider-title {
    font-size: 24px;
    line-height: 28px;  
    color: #000000;
}

.color-white {
    background-color: #83B3D3;
    color: #ffffff;
}

.background-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
}

.background-dark-light-blue {
    background-color: rgba(131, 179, 211, 0.2);
}

.search {
    text-align: center;
}

.search-title {
    margin: 0;
    margin-bottom: 29px;
    padding-top: 91px;
}

.search-discription {
    margin: 0;
    margin-bottom: 56px;
}

.search {
    padding-bottom: 93px;
}


/*subscribe*/

.subscribe-main {   
    background-image: url("../images/turbid-background.jpg"); 
    color: #ffffff;
    background-size: 100% auto;  
    background-repeat: no-repeat;
}

.subscribe {  
    
    font-size: 20px;
    line-height: 26px;   
    text-align: center;
}


.subscribe-title {
    padding-top: 94px;
    margin: 0;
    margin-bottom: 29px;
    
}

.subscribe-description {
    margin: 0;
    margin-bottom: 46px;
}

.subscribe-form {
    padding-bottom: 94px;
    
}

/*footer*/

.page-footer-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;   
}


.contacts {
    width: 720px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    margin-left: 61px;
    margin-right: 53px;
    
}

.phone-number {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

}



.footer-social-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    width: 107px;
    
    margin-right: 70px;
    padding-top: 49px;
    padding-left: 72px;
    list-style-type: none;
}

.footer-social-item {
    
    margin-right: 29px;
    
    
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
  }

.footer-social {
    
    background-color: #ffffff;
}

.footer-logo {
    padding-right: 72px;
    padding-top: 42px;
    padding-bottom: 45px;
    margin-left: 53px;
}



/*catalog*/

.main-inner {
    
}

.inner-header-title {
    padding-top: 35px;
    padding-left: 71px;
    margin-top: 0;
    margin-bottom: 5px; 
    
  }

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 75px;   
    list-style-type: none;
}

.breadcrumbs-link {
    margin-right: 26px;
        
}

.breadcrumbs-logo {
    padding-left: 73px;
}

.hotels-found {
    /*display: block;*/
    font: PT Sans;
    font-weight: 700;
    font-style: normal;
    width: 337px;
    line-height: 39px;
    color: #000000;
    text-transform: uppercase;
    padding-left: 71px;
    margin-right: 192px;
}

.sorting-container {
    display: flex;
    padding-top: 44px;
    padding-right: 72px;
}

.select-control {
    width: 287px;
    height: 48px;
    margin-right: 81px;
    
}

.sorting-container .button {
    width: 48px;
    height: 48px;
    
}

.button-sorting {
    margin-right: 8px;
    background-color: #FFFFFF;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-sorting-chosen {
    border-color: #000000;
}

.help-button {

}

.hotel-card-title {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.load-more {
    text-align: center;
}

.load-more-button {
    width: 620px;
    height: 60px;
}

.pagination-container {
    display: flex;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    width: 55px;
    height: 55px;
    padding: 14px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
}



.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}


.hotel-selection {
    display: flex;
    margin-left: 300px;
    

}

.page-hotels {
    display: block;
    padding-top: 46px;
    margin-right: 51px;
}

.select-hotels {
    width: 160px;
    height: 48px;
    margin-top: 33px;
    
    
}


.catalog-hotels {
    
    background-image: url("../images/turbid-background-2.jpg");
    background-size: 100% auto;  
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.filters {
    display: flex;   
}

.checkbox-filter {
    width: 150px;
    margin-left: 71px;
    margin-right: 67px;
}

.radio-filter {
    width: 220px;
    margin-right: 167px;

}



.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 300px); 
    column-gap: 58px;
    row-gap: 10px;
    list-style-type: none;
    margin: 0;
    margin-top: 53px;
    margin-bottom: 64px;
    padding: 0;
    padding-right: 72px;
    padding-left: 72px;
    
}

.hotel-card-image {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.hotel-card-title {
    padding-left: 20px;
}

.hotel-card {
    display: flex;
    flex-wrap: wrap;   
    width: 340px;

}

.hotel-card-content {
    display: flex;
    flex-wrap: wrap; 
    margin-right: 26px;
    padding: 20px;
    padding-top: 16px;
}

.hotel-card-content:nth-child(2n) {
    margin: 0;
}



.hotel {
    margin-right: 72px;
    margin-bottom: 16px;
}

.price {
    margin-bottom: 16px;
}


.stars-4 {
    margin-right: 72px;
}

.stars-3 {
    margin-right: 72px;
}

.stars-2 {
    margin-right: 97px;
}



.hotel-card-button {
    margin-bottom: 26px;
    margin-right: auto;
    padding-top: 9px;
    padding-bottom: 10px;
    width: 133px;
    height: 18;
    
}

.hotel-card-button-favorites {
    
    margin-left: 0;
    margin-left: auto;
    margin-bottom: 16px;
    padding-top: 9px;
    padding-bottom: 30px;
    width: 140px;
    height: 18px;
}

.rating {
    
    width: 160px;
    margin-left: auto;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 4px;
   
}


